<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title About-Saba
        link(rel="stylesheet", href="css/style.css")
    body
        include ../header/header.pug
        section.title-section
            img.portrait(src="img/Portrait.png", alt="portreit")
            .title-section-text
                h1.title.
                    Lorem ipsum dolor                
                    sit amet, consectetur 
                    adipiscing elit.
                p.sub-title.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Integer sit amet mauris varius, feugiat augue vitae, tincidunt tortor. 
                    In hac habitasse platea dictumst. Nullam a consectetur enim. 
                    Nunc posuere finibus ipsum, quis finibus nisi molestie ut. 
                    Quisque sit amet eros ligula. Curabitur ultrices enim at nisl 
                    condimentum,
            p.left-vertical-txt Все про Сабу
        div.
            page.content
        