.title-section {
    position: relative;
    .title-section-text {
        position: absolute;
        left: 46%;
        top: 100px;
        @media (max-width: 845px){
            position: static;
        }
    }
    .title {
        font-family: Helvetica, Arial, sans-serif;
        font-size: 60px;
        color: #ffffff;
        @media (max-width: 845px){
            padding: 0px 10px; 
        }   
    }
    .sub-title{
        color: rgba(255, 255, 255, 0.75);
        font-family: Helvetica, Arial, sans-serif;
        font-size: 16px;  
        padding: 100px 0px 0px 12%;
        max-width: 525px;  
        @media (max-width: 845px){
            padding: 50px 0px 0px 10px; 
        }    
    }
    .left-vertical-txt {
        left: -165px;
    }
    .portrait{
        display: block;
        margin: 0px 10%;
        max-width: 100%;
    }
}